/*
 * temp
 */
@wall-background: #39334D;
@form-background: saturate(lighten(@wall-background, 15%), 25%);
body {
  background: url("/pic/signUp/sign-up-sample.png")  50% 0 no-repeat;
}

/*
 * fonts
 */
@font-face {
  font-family: 'LatoRegular';
  src: url('/fonts/Lato/Lato-Regular.ttf')format("truetype");
  font-style: normal;
  font-weight: normal;
}

/*
 * imports
 */
@import 'common/text-select-deny';
@import 'common/area-without-decorations';

/*
 * variables
 */
@transparency: 0.83;
@white-color: rgba(200, 200, 200, @transparency);
@link-color: rgba(25, 200, 25, @transparency);
@button-text-color: spin(rgba(25, 100, 25, @transparency), +90);

.sign-up-form {
  width: 600px;
  margin: 50px auto;
  background-color: rgba(105, 100, 145, 0.15);
  font-family: 'LatoRegular', sans-serif;
  color: @white-color;
  border-radius: 7px;

  .head {
    @image-size: 50px;  // square
    @image-margin-left-right: 20px;
    @image-margin-top-bottom: 30px;
    @text-margins: @image-size + 2 * @image-margin-top-bottom;
    .button-back {
      display: block;
      width: @image-size;
      height: @image-size;
      margin: @image-margin-top-bottom @image-margin-left-right;
      float: left;
    }
    .button-info {
      display: block;
      width: @image-size;
      height: @image-size;
      margin: @image-margin-top-bottom @image-margin-left-right;
      float: right;
    }
    .head-text {
      text-align: center;
      line-height: @text-margins;
      margin-left: @text-margins;
      margin-right: @text-margins;
      height: @text-margins;
      font-size: 32px;
      .common-text-select-deny;
      cursor: default;
    }
  }
  .photo {
    @image-size: 150px;
    overflow: hidden;
    position: relative;
    .photo {
      width: @image-size;
      height: @image-size;
      display: block;
      margin: 50px auto 20px;
    }
    .text {
      font-size: 19px;
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      top: @image-size;
      text-align: center;
      text-transform: uppercase;
      .common-text-select-deny;
    }
  }
  .fields {
    position: relative;
    padding: 0 80px;
    input[type='text'],
    input[type='password'],
    input[type='email'] {
      display: block;
      width: 100%;
      box-sizing: border-box;
      height: 80px;
      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom: 1px solid @white-color;
      background-color: transparent;
      font-size: 26px;
      color: inherit;
      &:focus {
        outline: none;
      }
    }
    a.show {
      position: absolute;
      right: 80px;
      bottom: 20px;
      text-decoration: none;
      font-size: 26px;
      color: @link-color;
    }
  }
  .button {
    padding: 60px 80px 0;
    button {
      height: 75px;
      width: 100%;
      color: @button-text-color;
      background: @white-color;
      border-radius: 37px;
      &,
      &:active,
      &:focus {
        outline: none;
        border: none;
      }
      font-size: 32px;
      cursor: pointer;
    }
  }
  .sign-in {
    text-align: center;
    font-size: 26px;
    cursor: default;
    a {
      color: @link-color;
      cursor: pointer;
      text-decoration: none;
    }
    .common-text-select-deny;
  }
  .space {
    height: 190px;
  }
}
